In [ ]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
#train + test dataset
from google.colab import files
uploaded = files.upload()

Saving training_data.csv to training_data (2).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['training_data.csv']))
df.head()

   Unnamed: 0  ID           JobCity  ... nueroticism openess_to_experience  Salary
0           0   0         Bangalore  ...      0.9066               -1.6273  200000
1           1   1           Chennai  ...      0.1459                1.2470  190000
2           2   2  Chennai & Mumbai  ...      0.5262                0.2889  335000
3           3   3             Noida  ...      0.7086               -1.2354  325000
4           4   4           Chennai  ...     -0.7415                0.4805  360000

[5 rows x 36 columns]

In [ ]:
#removing unuseful columns
Df = df[['JobCity', 'Gender', 'DOB', '10percentage',
       '10board', '12graduation', '12percentage', '12board', 'CollegeID',
       'CollegeTier', 'Degree', 'Specialization', 'collegeGPA',
       'CollegeCityID', 'CollegeCityTier', 'CollegeState', 'GraduationYear',
       'English', 'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism', 'openess_to_experience',
       'Salary']]
Df.head()

            JobCity Gender  ... openess_to_experience  Salary
0         Bangalore      m  ...               -1.6273  200000
1           Chennai      m  ...                1.2470  190000
2  Chennai & Mumbai      m  ...                0.2889  335000
3             Noida      m  ...               -1.2354  325000
4           Chennai      m  ...                0.4805  360000

[5 rows x 34 columns]

In [ ]:
#now we need to replace null values with mean for numeric and with mode for non-numeric 
#mean
Df = Df.fillna( Df.mean())
Df.head()

            JobCity Gender  ... openess_to_experience  Salary
0         Bangalore      m  ...               -1.6273  200000
1           Chennai      m  ...                1.2470  190000
2  Chennai & Mumbai      m  ...                0.2889  335000
3             Noida      m  ...               -1.2354  325000
4           Chennai      m  ...                0.4805  360000

[5 rows x 34 columns]

In [ ]:
#mode
for column in Df:
  Df[column].fillna(Df[column].mode()[0],inplace = True)
Df.head()

            JobCity Gender  ... openess_to_experience  Salary
0         Bangalore      m  ...               -1.6273  200000
1           Chennai      m  ...                1.2470  190000
2  Chennai & Mumbai      m  ...                0.2889  335000
3             Noida      m  ...               -1.2354  325000
4           Chennai      m  ...                0.4805  360000

[5 rows x 34 columns]

In [ ]:
Df['10percentage'] = Df['10percentage'].astype('int')
Df['12graduation'] = Df['12graduation'].astype('int')
Df['collegeGPA'] = Df['collegeGPA'].astype('int') 
Df['CollegeCityID'] = Df['CollegeCityID'].astype('int')

#new method of looping through certain columns
for column in Df[['GraduationYear',
       'English', 'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience','12percentage', 'Salary']]:
  Df[column] = Df[column].astype('int') 
Df.head()

            JobCity Gender  ... openess_to_experience  Salary
0         Bangalore      m  ...                    -1  200000
1           Chennai      m  ...                     1  190000
2  Chennai & Mumbai      m  ...                     0  335000
3             Noida      m  ...                    -1  325000
4           Chennai      m  ...                     0  360000

[5 rows x 34 columns]

In [ ]:
#note this down
Df = Df.replace({'JobCity': '-1'},"Bangalore")

Df['JobCity']

0              Bangalore
1                Chennai
2       Chennai & Mumbai
3                  Noida
4                Chennai
              ...
2995               noida
2996             Chennai
2997               Noida
2998          Chandigarh
2999          Bangalore
Name: JobCity, Length: 3000, dtype: object

In [ ]:
Df['Specialization'].value_counts().sort_values(ascending = False).head(50)

electronics and communication engineering      788
computer science & engineering                 517
information technology                         452
computer engineering                           414
computer application                           181
electronics and electrical engineering         145
mechanical engineering                         144
electronics & telecommunications               104
electrical engineering                          59
civil engineering                               21
electronics & instrumentation eng               20
information science engineering                 17
electronics and instrumentation engineering     16
instrumentation and control engineering         15
biotechnology                                   14
electronics engineering                         13
other                                           11
industrial & production engineering             10
applied electronics and instrumentation          7
chemical engineering                             6
telecommunication engineering                    5
automobile/automotive engineering                5
mechanical and automation                        4
computer science and technology                  4
instrumentation engineering                      3
electronics and computer engineering             3
industrial engineering                           2
computer science                                 2
metallurgical engineering                        2
electrical and power engineering                 2
aeronautical engineering                         2
mechatronics                                     2
embedded systems technology                      1
computer networking                              1
polymer technology                               1
information science                              1
power systems and automation                     1
mechanical & production engineering              1
electronics                                      1
information & communication technology           1
biomedical engineering                           1
computer and communication engineering           1
Name: Specialization, dtype: int64

In [ ]:
#then one hot encoding but by method of noise reduction
#get whole set of dummy variales for all categorical variables

def one_hot_top_features(df, variable, top_x):

  for label in top_x :
    df[variable+'_'+label] = np.where(df[variable] == label,1,0)

top_10 = [x for x in Df['JobCity'].value_counts().sort_values(ascending = False).head(10).index]
one_hot_top_features(Df,'JobCity',top_10)
Df.head()

            JobCity Gender  ... JobCity_Kolkata  JobCity_Jaipur
0         Bangalore      m  ...               0               0
1           Chennai      m  ...               0               0
2  Chennai & Mumbai      m  ...               0               0
3             Noida      m  ...               0               0
4           Chennai      m  ...               0               0

[5 rows x 44 columns]

In [ ]:
top_7 = [x for x in Df['10board'].value_counts().sort_values(ascending = False).head(7).index]
one_hot_top_features(Df,'10board',top_7)
Df.head()

            JobCity Gender  ... 10board_up board  10board_matriculation
0         Bangalore      m  ...                0                      0
1           Chennai      m  ...                0                      0
2  Chennai & Mumbai      m  ...                0                      0
3             Noida      m  ...                0                      0
4           Chennai      m  ...                0                      0

[5 rows x 51 columns]

In [ ]:
top_8 = [x for x in Df['12board'].value_counts().sort_values(ascending = False).head(8).index]
one_hot_top_features(Df,'12board',top_8)
Df.head()

            JobCity  ... 12board_board of intermediate education
0         Bangalore  ...                                       0
1           Chennai  ...                                       0
2  Chennai & Mumbai  ...                                       0
3             Noida  ...                                       0
4           Chennai  ...                                       0

[5 rows x 59 columns]

In [ ]:
top_2 = [x for x in Df['Gender'].value_counts().sort_values(ascending = False).head(2).index]
one_hot_top_features(Df,'Gender',top_2)
Df.head()

            JobCity Gender  ... Gender_m  Gender_f
0         Bangalore      m  ...        1         0
1           Chennai      m  ...        1         0
2  Chennai & Mumbai      m  ...        1         0
3             Noida      m  ...        1         0
4           Chennai      m  ...        1         0

[5 rows x 61 columns]

In [ ]:
top_4 = [x for x in Df['Degree'].value_counts().sort_values(ascending = False).head(4).index]
one_hot_top_features(Df,'Degree',top_4)
Df.head()

            JobCity Gender  ... Degree_M.Tech./M.E.  Degree_M.Sc. (Tech.)
0         Bangalore      m  ...                   0                     0
1           Chennai      m  ...                   0                     0
2  Chennai & Mumbai      m  ...                   0                     0
3             Noida      m  ...                   0                     0
4           Chennai      m  ...                   0                     0

[5 rows x 65 columns]

In [ ]:
top_10 = [x for x in Df['Specialization'].value_counts().sort_values(ascending = False).head(10).index]
one_hot_top_features(Df,'Specialization',top_10)
Df.head()

            JobCity  ... Specialization_civil engineering
0         Bangalore  ...                                0
1           Chennai  ...                                0
2  Chennai & Mumbai  ...                                0
3             Noida  ...                                0
4           Chennai  ...                                0

[5 rows x 75 columns]

In [ ]:
#dropping columns
DF = Df.drop(['Gender','Specialization', 'Degree', 'CollegeState','JobCity', '10board', '12board', 'DOB'], axis = 1)
DF.head()

   10percentage  ...  Specialization_civil engineering
0            55  ...                                 0
1            83  ...                                 0
2            81  ...                                 0
3            85  ...                                 0
4            89  ...                                 0

[5 rows x 67 columns]

In [ ]:
DF.columns

Index(['10percentage', '12graduation', '12percentage', 'CollegeID',
       'CollegeTier', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'GraduationYear', 'English', 'Logical', 'Quant', 'Domain',
       'ComputerProgramming', 'ElectronicsAndSemicon', 'ComputerScience',
       'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg', 'CivilEngg',
       'conscientiousness', 'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience', 'Salary', 'JobCity_Bangalore', 'JobCity_Noida',
       'JobCity_Hyderabad', 'JobCity_Pune', 'JobCity_Chennai',
       'JobCity_Gurgaon', 'JobCity_New Delhi', 'JobCity_Mumbai',
       'JobCity_Kolkata', 'JobCity_Jaipur', '10board_cbse',
       '10board_state board', '10board_0', '10board_icse', '10board_ssc',
       '10board_up board', '10board_matriculation', '12board_cbse',
       '12board_state board', '12board_0', '12board_icse', '12board_up board',
       '12board_isc', '12board_board of intermediate',
       '12board_board of intermediate education', 'Gender_m', 'Gender_f',
       'Degree_B.Tech/B.E.', 'Degree_MCA', 'Degree_M.Tech./M.E.',
       'Degree_M.Sc. (Tech.)',
       'Specialization_electronics and communication engineering',
       'Specialization_computer science & engineering',
       'Specialization_information technology',
       'Specialization_computer engineering',
       'Specialization_computer application',
       'Specialization_electronics and electrical engineering',
       'Specialization_mechanical engineering',
       'Specialization_electronics & telecommunications',
       'Specialization_electrical engineering',
       'Specialization_civil engineering'],
      dtype='object')

In [ ]:
X = np.asarray(DF[['10percentage', '12graduation', '12percentage', 'CollegeID',
       'CollegeTier', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'GraduationYear', 'English', 'Logical', 'Quant', 'Domain',
       'ComputerProgramming', 'ElectronicsAndSemicon', 'ComputerScience',
       'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg', 'CivilEngg',
       'conscientiousness', 'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience', 'JobCity_Bangalore', 'JobCity_Noida',
       'JobCity_Hyderabad', 'JobCity_Pune', 'JobCity_Chennai',
       'JobCity_Gurgaon', 'JobCity_New Delhi', 'JobCity_Mumbai',
       'JobCity_Kolkata', 'JobCity_Jaipur', '10board_cbse',
       '10board_state board', '10board_0', '10board_icse', '10board_ssc',
       '10board_up board', '10board_matriculation', '12board_cbse',
       '12board_state board', '12board_0', '12board_icse', '12board_up board',
       '12board_isc', '12board_board of intermediate',
       '12board_board of intermediate education', 'Gender_m', 'Gender_f',
       'Degree_B.Tech/B.E.', 'Degree_MCA', 'Degree_M.Tech./M.E.',
       'Degree_M.Sc. (Tech.)',
       'Specialization_electronics and communication engineering',
       'Specialization_computer science & engineering',
       'Specialization_information technology',
       'Specialization_computer engineering',
       'Specialization_computer application',
       'Specialization_electronics and electrical engineering',
       'Specialization_mechanical engineering',
       'Specialization_electronics & telecommunications',
       'Specialization_electrical engineering',
       'Specialization_civil engineering']])
X[0:5]

In [ ]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

In [ ]:
Y = np.asarray(DF['Salary'])
Y[0:5]

array([200000, 190000, 335000, 325000, 360000])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (2400, 66) (2400,)
Test set: (600, 66) (600,)

In [ ]:
#model training
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import r2_score
regr  = linear_model.LinearRegression()
regr.fit( X_train, y_train )
y_hat= regr.predict(X_test)



print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y_test) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(X_test, y_test ))

acc = r2_score(y_test,y_hat)
print(acc)

Residual sum of squares: 22839018410.72
Variance score: 0.17
0.16696315080472124

In [ ]:
rss=((y_test-y_hat)**2).sum()
mse=np.mean((y_test-y_hat)**2)
print("Final rmse value is =",np.sqrt(np.mean((y_test-y_hat)**2)))

Final rmse value is = 151125.83634415947

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=50)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_predRF = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_predRF)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_predRF)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_predRF)
print("Accuracy:",result2)

Confusion Matrix:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Classification Report:
              precision    recall  f1-score   support

       35000       0.00      0.00      0.00         2
       45000       0.00      0.00      0.00         1
       60000       0.00      0.00      0.00         1
       65000       0.00      0.00      0.00         1
       70000       0.00      0.00      0.00         3
       75000       0.00      0.00      0.00         1
       80000       0.00      0.00      0.00         3
       85000       0.00      0.00      0.00         1
       95000       0.00      0.00      0.00         3
      100000       0.06      0.18      0.09        11
      105000       0.00      0.00      0.00         6
      110000       0.00      0.00      0.00        10
      115000       0.00      0.00      0.00         2
      120000       0.06      0.17      0.08        24
      125000       0.00      0.00      0.00         1
      130000       0.00      0.00      0.00         1
      135000       0.00      0.00      0.00         0
      140000       0.00      0.00      0.00         0
      145000       0.17      0.09      0.12        11
      150000       0.17      0.10      0.12        10
      155000       0.00      0.00      0.00         3
      160000       0.00      0.00      0.00         5
      165000       0.00      0.00      0.00         1
      170000       0.00      0.00      0.00         4
      175000       0.00      0.00      0.00         2
      180000       0.04      0.08      0.06        39
      185000       0.00      0.00      0.00         4
      190000       0.00      0.00      0.00         1
      195000       0.00      0.00      0.00         2
      200000       0.09      0.25      0.14        28
      205000       0.00      0.00      0.00         3
      210000       0.00      0.00      0.00         4
      215000       0.00      0.00      0.00         5
      220000       0.00      0.00      0.00         7
      225000       0.00      0.00      0.00         6
      235000       0.00      0.00      0.00         1
      240000       0.12      0.07      0.09        30
      245000       0.00      0.00      0.00         1
      250000       0.00      0.00      0.00         6
      260000       0.00      0.00      0.00         2
      265000       0.00      0.00      0.00         4
      270000       0.00      0.00      0.00         1
      275000       0.00      0.00      0.00         6
      280000       0.00      0.00      0.00         6
      285000       0.00      0.00      0.00         2
      290000       0.00      0.00      0.00         3
      300000       0.11      0.27      0.15        45
      305000       0.00      0.00      0.00         7
      310000       0.00      0.00      0.00         6
      315000       0.00      0.00      0.00         5
      320000       0.00      0.00      0.00        11
      325000       0.15      0.19      0.17        36
      330000       0.50      0.06      0.11        16
      335000       0.00      0.00      0.00         4
      340000       0.00      0.00      0.00         8
      345000       0.00      0.00      0.00         2
      350000       0.00      0.00      0.00        17
      355000       0.00      0.00      0.00         2
      360000       0.00      0.00      0.00        15
      365000       0.00      0.00      0.00         1
      370000       0.00      0.00      0.00         4
      375000       0.00      0.00      0.00         3
      380000       0.00      0.00      0.00         7
      385000       0.00      0.00      0.00         3
      390000       0.00      0.00      0.00         3
      395000       0.00      0.00      0.00         0
      400000       0.04      0.05      0.04        20
      405000       0.00      0.00      0.00         3
      410000       0.00      0.00      0.00         1
      415000       0.00      0.00      0.00         1
      420000       0.00      0.00      0.00         2
      425000       0.00      0.00      0.00         4
      430000       0.00      0.00      0.00         4
      435000       0.00      0.00      0.00         1
      440000       0.00      0.00      0.00         3
      445000       0.00      0.00      0.00         1
      450000       0.08      0.10      0.09        10
      455000       0.00      0.00      0.00         2
      460000       0.00      0.00      0.00         3
      470000       0.00      0.00      0.00         6
      475000       0.00      0.00      0.00         5
      480000       0.00      0.00      0.00         4
      490000       0.00      0.00      0.00         4
      500000       0.33      0.15      0.21        13
      505000       0.00      0.00      0.00         4
      510000       0.00      0.00      0.00         3
      520000       0.00      0.00      0.00         1
      530000       0.00      0.00      0.00         4
      540000       0.00      0.00      0.00         1
      550000       0.00      0.00      0.00         3
      560000       0.00      0.00      0.00         1
      565000       0.00      0.00      0.00         1
      570000       0.00      0.00      0.00         1
      585000       0.00      0.00      0.00         0
      600000       0.00      0.00      0.00         5
      610000       0.00      0.00      0.00         2
      620000       0.00      0.00      0.00         1
      625000       0.00      0.00      0.00         1
      630000       0.00      0.00      0.00         2
      645000       0.00      0.00      0.00         1
      650000       0.00      0.00      0.00         2
      660000       0.00      0.00      0.00         2
      700000       0.00      0.00      0.00         4
      720000       0.00      0.00      0.00         1
      725000       0.00      0.00      0.00         1
      760000       0.00      0.00      0.00         1
      785000       0.00      0.00      0.00         1
      820000       0.00      0.00      0.00         2
      900000       0.00      0.00      0.00         1
     1100000       0.00      0.00      0.00         1
     1110000       0.00      0.00      0.00         1
     1200000       0.00      0.00      0.00         1
     1800000       0.00      0.00      0.00         1

    accuracy                           0.07       600
   macro avg       0.02      0.02      0.01       600
weighted avg       0.06      0.07      0.06       600

Accuracy: 0.07333333333333333

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))